*.eps
/*.png
/.RData
/.Rhistory
/confdefs.h
/config.guess
/config.sub
/configure.scan
/conftest.cpp
/conftest.er1
/gprof
/results/
src/network/main/network_add_vertices
tests/statistics/correlation/StatsCorrelationSuite
