*.eps
/*.png
/.RData
/.Rhistory
/README
/confdefs.h
/config.guess
/config.sub
/configure.scan
/conftest.cpp
/conftest.er1
/des*tar*
/des-0.5.tar.bz2
/des-0.5.tar.gz
/des_rand_500s_1000e_1000t.pbs
/des_soc_1000s_5e_1000t.pbs
/des_soc_5000s_5e_1000t.pbs
/des_soc_500s_3e_1000t.pbs
/gprof
/results/
/write_seeds.pbs
crn_test.pbs
des.pbs
read_graphml.pbs
seeds_read.pbs
src/network/main/network_add_vertices
struct_test.pbs
tests/statistics/correlation/StatsCorrelationSuite
